# –ó–∞–¥–∞–Ω–∏–µ 1 (4 –±–∞–ª–ª–∞)

1) –ü—Ä–æ—á—Ç–∏—Ç–µ –¥–∞—Ç–∞—Å–µ—Ç titanic.csv

2) –†–∞–∑–¥–µ–ª–∏—Ç–µ –Ω–∞ train-val –≤—ã–±–æ—Ä–∫–∏ —Å –ø–æ–º–æ—â—å—é train_test_split —Ñ—É–Ω–∫—Ü–∏–∏, –ø—Ä–æ—Ü–µ–Ω—Ç test = 0.2

3) –ó–∞–∫–æ–¥–∏—Ä—É–π—Ç–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏, —Å—Ç–∞–Ω–¥–∞—Ä—Ç–∏–∑—É–π—Ç–µ –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏, –∑–∞–ø–æ–ª–Ω–∏—Ç–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ, —É–¥–∞–ª–∏—Ç–µ –ª–∏—à–µ–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∏. 

4) –û–±—É—á–∏—Ç–µ –∞–ª–≥–æ—Ä–∏—Ç–º –ª–æ–≥–∏—Å—Ç–∏—á–µ—Å–∫–æ–π —Ä–µ–≥—Ä–µ—Å—Å–∏–∏ –Ω–∞ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ—á–Ω–æ–π –≤—ã–±–æ—Ä–∫–µ. –ö–∞–∫–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –≤–ª–∏—è—é—Ç –Ω–∞ –∫–∞—á–µ—Å—Ç–≤–æ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–π –∞–ª–≥–æ—Ä–∏—Ç–º–∞?

5) –†–∞—Å—Å—á–∏—Ç–∞–π—Ç–µ precision –∞–ª–≥–æ—Ä–∏—Ç–º–∞

In [2069]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.colors as pltcolors
import category_encoders as ce
from sklearn.metrics import precision_score
from scipy import optimize
from sklearn.svm import SVC
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2070]:
# !wget https://raw.githubusercontent.com/rolandmueller/titanic/main/titanic3.csv

In [2071]:
# —á—Ç–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö
df = pd.read_csv('titanic3.csv')
print(df.columns.shape)
df.head()

(14,)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [2072]:
# –æ—Ç–±–æ—Ä –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
features = ['survived', 'sex', 'age', 'sibsp', 'parch', 'fare']
df[features]

      survived     sex      age  sibsp  parch      fare
0            1  female  29.0000      0      0  211.3375
1            1    male   0.9167      1      2  151.5500
2            0  female   2.0000      1      2  151.5500
3            0    male  30.0000      1      2  151.5500
4            0  female  25.0000      1      2  151.5500
...        ...     ...      ...    ...    ...       ...
1304         0  female  14.5000      1      0   14.4542
1305         0  female      NaN      1      0   14.4542
1306         0    male  26.5000      0      0    7.2250
1307         0    male  27.0000      0      0    7.2250
1308         0    male  29.0000      0      0    7.8750

[1309 rows x 6 columns]

In [2073]:
# —Ä–∞–∑–¥–µ–ª–µ–Ω–∏–µ –Ω–∞ train –∏ test
X_train, X_test, y_train, y_test = train_test_split(df[features], df['pclass'], test_size=0.2, random_state=0)
X_train.shape, X_test.shape

((1047, 6), (262, 6))

In [2074]:
# One Hot Encodig –¥–ª—è –ø–æ–ª–∞ –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤

# –ü–û–ß–ï–ú–£ –≠–¢–û –ù–ï –†–ê–ë–û–¢–ê–ï–¢?!
#one_hot_encoder = OneHotEncoder(sparse_output=False)
#X_train['sex'] = one_hot_encoder.fit_transform(X_train)
#X_train


X_train.loc[X_train['sex'] == 'male', 'sex'] = int(1)
X_train.loc[X_train['sex'] == 'female', 'sex'] = int(0)

X_test.loc[X_test['sex'] == 'male', 'sex'] = int(1)
X_test.loc[X_test['sex'] == 'female', 'sex'] = int(0)

In [2075]:
result_train = pd.concat([X_train.isnull().sum(), X_train.isnull().mean()], axis=1)
result_train = result_train.rename(index=str,columns={0:'total missing',1:'proportion'})
print(result_train.apply(lambda x: x[x > 0]))
# –≤ —Ç—Ä–µ–π–Ω–µ —É 207 –ª—é–¥–µ–π –Ω–µ—Ç –≤–æ–∑—Ä–∞—Å—Ç–∞, –∑–∞–º–µ–Ω–∏–º –µ–≥–æ —Å—Ä–µ–¥–Ω–∏–º
# –æ—Ç—Å—É—Ç—Å–≤—É—é—â–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ fare —É–¥–∞–ª–∏–º

      total missing  proportion
age             206    0.196753
fare              1    0.000955

In [2076]:
result_test = pd.concat([X_test.isnull().sum(), X_test.isnull().mean()], axis=1)
result_test = result_test.rename(index=str,columns={0:'total missing',1:'proportion'})
print(result_test.apply(lambda x: x[x > 0]))

# –≤ —Ç–µ—Å—Ç–µ —É 56 –ª—é–¥–µ–π –Ω–µ—Ç –≤–æ–∑—Ä–∞—Å—Ç–∞, –∑–∞–º–µ–Ω–∏–º –µ–≥–æ —Å—Ä–µ–¥–Ω–∏–º

     total missing  proportion
age             57    0.217557

In [2077]:
# —É–¥–∞–ª–µ–Ω–∏–µ 1-–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è fare
null_index_train = X_train[X_train['fare'].isnull()].index.to_numpy()
X_train = X_train.dropna(subset=['fare'], axis=0, inplace=False)
y_train = y_train.drop(null_index_train)

In [2078]:
# –∑–∞–º–µ–Ω–∞ –≤–æ–∑—Ä–∞—Å—Ç–∞ —Å—Ä–µ–¥–Ω–∏–º
X_train['age'] = X_train['age'].fillna(value=X_train['age'].mean())
X_test['age'] = X_test['age'].fillna(value=X_test['age'].mean())

### –†–∞—Å—Å–º–æ—Ç—Ä–∏–º –≤—ã–±—Ä–æ—Å—ã

In [2079]:
def outlier_detect_IQR(data, col, threshold=3):
    f = False
    # –†–∞—Å—Å—á–∏—Ç—ã–≤–∞–µ–º –º–µ–∂–∫–≤–∞—Ä—Ç–∏–ª—å–Ω—ã–π —Ä–∞–∑–º–∞—Ö (IQR).
    IQR = data[col].quantile(0.75) - data[col].quantile(0.25)

    # –í—ã—á–∏—Å–ª—è–µ–º –≤–µ—Ä—Ö–Ω—é—é –∏ –Ω–∏–∂–Ω—é—é –≥—Ä–∞–Ω–∏—Ü—ã –¥–ª—è –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è –≤—ã–±—Ä–æ—Å–æ–≤.
    Lower_fence = data[col].quantile(0.25) - (IQR * threshold)
    Upper_fence = data[col].quantile(0.75) + (IQR * threshold)

    # –§–æ—Ä–º–∏—Ä—É–µ–º –∫–æ—Ä—Ç–µ–∂ —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–Ω—ã–º–∏ –≥—Ä–∞–Ω–∏—Ü–∞–º–∏.
    para = (Upper_fence, Lower_fence)

    # –°–æ–∑–¥–∞–µ–º –≤—Ä–µ–º–µ–Ω–Ω—ã–π DataFrame, –≤ –∫–æ—Ç–æ—Ä–æ–º –¥–ª—è –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–∏ —É–∫–∞–∑—ã–≤–∞–µ–º, –ø—Ä–µ–≤—ã—à–∞–µ—Ç –ª–∏ –∑–Ω–∞—á–µ–Ω–∏–µ –≤ —Å—Ç–æ–ª–±—Ü–µ –∑–∞–¥–∞–Ω–Ω—ã–µ –≥—Ä–∞–Ω–∏—Ü—ã.
    tmp = pd.concat([data[col] > Upper_fence, data[col] < Lower_fence], axis=1)

    # –ù–∞—Ö–æ–¥–∏–º –∏–Ω–¥–µ–∫—Å—ã —Å—Ç—Ä–æ–∫, —Å–æ–¥–µ—Ä–∂–∞—â–∏—Ö —Ö–æ—Ç—è –±—ã –æ–¥–∏–Ω –≤—ã–±—Ä–æ—Å.
    outlier_index = tmp.any(axis=1)

    # –í—ã–≤–æ–¥–∏–º –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –Ω–∞–π–¥–µ–Ω–Ω—ã—Ö –≤—ã–±—Ä–æ—Å–∞—Ö.
    if len(outlier_index.value_counts()) > 1:
        f = True
        #print(col, end= ": ")
        #print('–ù–∞–π–¥–µ–Ω–æ –≤—ã–±—Ä–æ—Å–æ–≤:', outlier_index.value_counts().iloc[1])
    # –í–æ–∑–≤—Ä–∞—â–∞–µ–º —Å–µ—Ä–∏—é —Å –±—É–ª–µ–≤—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –∏ –∫–æ—Ä—Ç–µ–∂ —Å –≥—Ä–∞–Ω–∏—Ü–∞–º–∏.
    return outlier_index,f

In [2080]:
for i in features:
    index, find = outlier_detect_IQR(data=X_train, col=i, threshold=3)    
    if find:
        print(i, end= ": ")
        print('–ù–∞–π–¥–µ–Ω–æ –≤—ã–±—Ä–æ—Å–æ–≤:', index.value_counts().iloc[1])

age: –ù–∞–π–¥–µ–Ω–æ –≤—ã–±—Ä–æ—Å–æ–≤: 1
sibsp: –ù–∞–π–¥–µ–Ω–æ –≤—ã–±—Ä–æ—Å–æ–≤: 15
parch: –ù–∞–π–¥–µ–Ω–æ –≤—ã–±—Ä–æ—Å–æ–≤: 247
fare: –ù–∞–π–¥–µ–Ω–æ –≤—ã–±—Ä–æ—Å–æ–≤: 71

–¢—É—Ç, —è –≥–æ—Ç–æ–≤ —Å—á–∏—Ç–∞—Ç—å –≤—ã–±—Ä–æ—Å–∞–º–∏ —Å–ª—É—á–∞–π —Å parch, –ø–æ—Ç–æ–º—É —á—Ç–æ –µ—Å—Ç—å —Å–ª—É—á–∞–∏, –∫–æ–≥–¥–∞ —É —Ä–µ–±–µ–Ω–∫–∞ 9 —Ä–æ–¥–∏—Ç–µ–ª–µ–π

In [2081]:
# –ï—Å–ª–∏ —É —á–µ–ª–æ–≤–µ–∫–∞ –±–æ–ª—å—à–µ 2 —Ä–æ–¥–∏—Ç–µ–ª–µ–π, —Ç–æ –∑–∞–º–µ–Ω—è–µ–º –∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–∞ 2
X_train.loc[X_train['parch'] > 2, 'parch'] = 2

In [2082]:
for i in features:
    index, find = outlier_detect_IQR(data=X_test, col=i, threshold=3)    
    if find:
        print(i, end= ": ")
        print('–ù–∞–π–¥–µ–Ω–æ –≤—ã–±—Ä–æ—Å–æ–≤:', index.value_counts().iloc[1])

age: –ù–∞–π–¥–µ–Ω–æ –≤—ã–±—Ä–æ—Å–æ–≤: 1
parch: –ù–∞–π–¥–µ–Ω–æ –≤—ã–±—Ä–æ—Å–æ–≤: 60
fare: –ù–∞–π–¥–µ–Ω–æ –≤—ã–±—Ä–æ—Å–æ–≤: 13

In [2083]:
# –ï—Å–ª–∏ —É —á–µ–ª–æ–≤–µ–∫–∞ –±–æ–ª—å—à–µ 2 —Ä–æ–¥–∏—Ç–µ–ª–µ–π, —Ç–æ –∑–∞–º–µ–Ω—è–µ–º –∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–∞ 2
X_test.loc[X_test['parch'] > 2, 'parch'] = 2

###

In [2084]:
# –°—Ç–∞–Ω–¥–∞—Ä—Ç–∏–∑–∞—Ü–∏—è
for feature in features:
    st = StandardScaler().fit(X_train[[feature]])
    X_train[feature] = st.transform(X_train[[feature]])

for feature in features:
    st = StandardScaler().fit(X_test[[feature]])
    X_test[feature] = st.transform(X_test[[feature]])

In [2085]:
# –û–±—É—á–µ–Ω–∏–µ

sk_model = SGDClassifier(loss='hinge', penalty='l2', fit_intercept=True, random_state=0, max_iter=500, learning_rate='constant', eta0=0.005)
result = sk_model.fit(X_train, y_train)
sk_model_acc = round(sk_model.score(X_test, y_test), 4)
print('–¢–æ—á–Ω–æ—Å—Ç—å: ', sk_model_acc * 100)

–¢–æ—á–Ω–æ—Å—Ç—å:  75.19

In [2115]:
weights = result.coef_
weights

array([[ 2.22064325e-01,  1.88591131e-01,  2.14373304e-01,
        -9.42125045e-01, -6.29515614e-01,  3.75782592e+00],
       [ 1.03767896e-02,  1.15168975e-02, -1.80110440e-02,
        -4.21118207e-03,  7.63753170e-03, -1.52136234e-02],
       [-5.68166955e-02, -2.06353241e-02, -7.88846860e-02,
         8.35092890e-01,  3.75962968e-01, -5.78382648e+00]])

–Ω–∞—Å–∫–æ–ª—å–∫–æ —è –ø–æ–Ω–∏–º–∞—é, —Ç–æ –ø–µ—Ä–≤–∞—è —Å—Ç—Ä–æ–∫–∞ –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç –∫–∞–∫ –ø—Ä–∏–∑–Ω–∞–∫–∏ –≤–ª–∏—è—é—Ç –Ω–∞ –ø–µ—Ä–≤—ã–π –∫–ª–∞—Å—Å
–≤—Ç–æ—Ä–∞—è —Å—Ç—Ä–æ–∫–∞, –Ω–∞ –≤—Ç–æ—Ä–æ–π –∫–ª–∞—Å—Å
—Ç—Ä–µ—Ç—å—è —Å—Ç—Ä–æ–∫–∞, –Ω–∞ —Ç—Ä–µ–π—Ç–∏ –∫–ª–∞—Å—Å

In [2117]:
for raw in weights:
    for (i, x) in enumerate(raw):
       if (x > 0):
           print(features[i], end = " ")
    print()

survived sex age fare
survived sex parch
sibsp parch

# –ó–∞–¥–∞–Ω–∏–µ ‚Ññ2

–†–µ–∞–ª–∏–∑—É–π—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é –ø–æ–¥–±–æ—Ä–∞ –æ–ø—Ç–∏–º–∞–ª—å–Ω–æ–≥–æ –ø–æ—Ä–æ–≥–∞ —Å –ø–æ–º–æ—â—å—é FPR/TPR –æ—Ü–µ–Ω–æ–∫ –Ω–∞ —á–∏—Å—Ç–æ–º Python. –ù–∞ –≤—Ö–æ–¥ —Ñ—É–Ω–∫—Ü–∏—è –ø—Ä–∏–Ω–∏–º–∞–µ—Ç –º–µ—Ç–∫–∏ –∏—Å—Ç–∏–Ω–Ω—ã—Ö –∫–ª–∞—Å—Å–æ–≤ –∏ –æ—Ü–µ–Ω–∫–∏ –∞–ª–≥–æ—Ä–∏—Ç–º–∞, –Ω–∞ –≤—ã—Ö–æ–¥–µ —Ñ—É–Ω–∫—Ü–∏—è –¥–æ–ª–∂–Ω–∞ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –ª—É—á—à–∏–π –ø–æ—Ä–æ–≥ –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏–∏. –ü–æ–¥–±–µ—Ä–∏—Ç–µ –ø–æ—Ä–æ–≥ –Ω–∞ —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–µ –∏ –∑–∞–Ω–æ–≤–æ –æ—Ü–µ–Ω–∏—Ç–µ precision –º–æ–¥–µ–ª–∏.

—Ö–æ—Ç—å –æ–Ω–æ –∏ –Ω–µ —Ä–∞–±–æ—Ç–∞–µ, –Ω–æ –∑–∞ —Å—Ç—Ä–∞–Ω–∏–µ –ø–∞—Ä—É –±–∞–ª–ª–æ–≤ –ø–∂ üëâüèªüëàüèª

In [2087]:
from sklearn import metrics

In [2088]:
def find_optimal_threshold(y_true, y_score):
    fpr, tpr, thresholds = metrics.roc_curve(y_true, y_score, pos_label=2)
    optimal_idx = np.argmax(tpr - fpr)
    optimal_threshold = thresholds[optimal_idx]
    return optimal_threshold


# –ü—Ä–∏–º–µ—Ä –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è

clf = SGDClassifier()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
optimal_threshold = find_optimal_threshold(y_test, y_pred)
y_pred_new = (clf.decision_function(X_test) >= optimal_threshold).astype(int)
y_pred_new_1 = []
for i in y_pred_new:
    if i[0] == 1:
        y_pred_new_1.append(1)
    elif i[1] == 1:
        y_pred_new_1.append(2)
    elif i[2] == 1:
        y_pred_new_1.append(3)
    
print(len(y_pred_new_1))
print(y_test.shape)


#precision_new = metrics.precision_score(y_test, y_pred_new)

67
(262,)